# Entorno virtual
myenv/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales
*.log
*.pot
*.pyc
*.pyo

# SQLite (si se usa)
db.sqlite3

# Migraciones compiladas
**/migrations/__pycache__/
**/migrations/*.pyc

# Archivos de Django
staticfiles/
media/

# Configuración local
*.env
.env
.env.local

# Archivos de sistema
.DS_Store
Thumbs.db